.container {
	--_container-max-width: 1200px;
	--_container-padding: var(--size-10);

	width: min(100%, var(--_container-max-width));
	padding-inline: var(--_container-padding);
	margin-inline: auto;
}
